.box {
    box-shadow: inset -70px 0px 100px 0px #000;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    overflow: hidden;
    width: 944px;
    height: 944px;
}

.img {
    position: relative;
    z-index: -1;
}

.planet {
    width: 750px;
    font-size: 151px;
    background-image: linear-gradient(to right, rgba(0, 169, 241, 1), rgba(74, 70, 255, 1));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.desc {
    width: 750px;
    font-size: 30px;
    line-height: 32px;
}