.blockButton {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    color: rgba(0, 169, 241, 1);
    padding: 17px 60px;
    border-image: linear-gradient(to right, rgba(81, 78, 255, 1), rgba(0, 169, 241, 1)) 1;
    border-width: 3px;
    border-style: solid;
}

.block {
    width: 368px;
}